<fieldset id="payment" data-hook>
  <legend><%= t(:credit_card_information) %></legend>
  <div data-hook="credit_card_form">
    <fieldset>
      <%= image_tag 'creditcards/creditcard.gif', :id => 'creditcard-image' %>
    </fieldset>
  </div>
</fieldset>